
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

:root {
  --cyan: #087F8C;
  --white: #FFF;
  --dark-blue: #061A40;
  --grey: #E6E8E6;
}

body{
  background-color: var(--cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

p,h1 {
  color: var(--white);
}

input {
  color: var(--dark-blue);
  border: none;
  width: 20rem;
  height: 12.5rem;
  font-size: 2rem;
}

button {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  margin-right: -0.25rem;
  border: 0.0625rem solid var(--grey);
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

p {
  margin: 1.5rem 0.025rem 1.25rem 1.25rem;
}
